<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yonggang.ygcommunity">

    <!-- Required -->
    <permission
        android:name="com.yonggang.ygcommunity.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.yonggang.ygcommunity.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".YGApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="2040" />

        <!-- 以下为极光推送配置 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yonggang.ygcommunity" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.yonggang.ygcommunity.DataProvider"
            android:exported="false" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.yonggang.ygcommunity" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.yonggang.ygcommunity.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.yonggang.ygcommunity" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".JPush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.yonggang.ygcommunity" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".JPush.JPushreceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.yonggang.ygcommunity" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="8e3bbbb1c2a29e4a341909f0" />

        <!-- 极光推送配置到此为止 -->


        <!-- 百度统计 -->


        <!-- 您从百度网站获取的APP KEY，根据实际您的APP申请的APP_KEY进行修改 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="a7f6183aff" /> <!-- abcd1234 -->
        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu Market" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="2" />
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <!-- 支付宝APP支付SDK配置 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- 支付宝配置到此为止 -->


        <!-- 高德地图SDK配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ce69a18f539fcc84097b42934c67517a" />

        <service android:name="com.amap.api.location.APSService" />

        <!-- 微信需求Activity -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <!-- photo picker -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- UCrop -->

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- <provider -->
        <!-- android:name="android.support.v4.content.FileProvider" -->
        <!-- android:authorities="@string/file_provider_authorities" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/file_provider_paths" /> -->
        <!-- </provider> -->

        <activity
            android:name=".Activity.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SplashActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.SetPassActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.FindPassActivity" />
        <activity android:name=".Activity.NewPassActivity" />
        <activity android:name=".Activity.MapViewActivity" />
        <activity android:name=".Activity.NaviActivity" />
        <activity
            android:name=".Activity.NewsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".Activity.WeChatPay" />
        <activity android:name=".Activity.CommentsActivity" />
        <activity
            android:name=".Activity.PicActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".Activity.VideoDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".Activity.AddBbsActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".Activity.BbsDetailActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".Activity.BbsPicActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.BbsCommentsActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".Activity.Server.HotLineActivity" />
        <activity android:name=".Activity.Personal.PersonalActivity" />
        <activity android:name=".Activity.Server.ComActActivity" />
        <activity android:name=".Activity.Server.ActDetailActivity" />
        <activity
            android:name=".Activity.NewsErrorActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".Permission.PermissionsActivity" />
        <activity android:name=".Activity.Personal.SettingActivity" />
        <activity android:name=".Activity.Personal.ChangePassActivity" />
        <activity android:name=".Activity.Server.SignActivity" />
        <activity android:name=".Activity.Personal.CollectionActivity" />
        <activity android:name=".Activity.Server.ExpensesActivity" />
        <activity android:name=".Activity.Server.AddHomeActivity" />
        <activity android:name=".Activity.Server.EditExpActivity" />
        <activity
            android:name=".Activity.Personal.OptionActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".Activity.Server.NoticeActivity" />
        <activity android:name=".Activity.Personal.MessageActivity" />
        <activity android:name=".Activity.Personal.MessageDetailActivity" />
        <activity android:name=".Activity.Personal.AnswerActivity" />
        <activity android:name=".Activity.Server.NoticeDetailActivity" />
        <activity android:name=".Activity.Personal.PublishActivity" />
        <activity android:name=".Activity.Server.SignedActivity" />
        <activity android:name=".Activity.Server.ContactsActivity" />
        <activity android:name=".Activity.Personal.ScoreActivity" />
        <activity android:name=".Activity.Personal.ScoreRuleActivity" />
        <activity android:name=".Activity.Personal.ScoreListActivity" />
        <activity android:name=".Activity.Personal.GiftActivity" />
        <activity android:name=".Activity.Personal.ScoreRecordActivity" />
        <activity android:name=".Activity.Personal.IdentificationActivity" />
        <activity
            android:name=".AdvActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Activity.TestAliPayActivity" />
        <activity
            android:name=".Activity.Server.AddAccountActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".Activity.Server.FeeListActivity" />
        <activity android:name=".Activity.PayActivity" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <activity android:name=".Activity.Personal.InfoActivity" />
        <activity android:name=".Activity.Personal.CopyrightActivity" />
        <activity android:name=".Activity.Personal.MyActActivity" />

        <!-- 友盟分享 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5978386f65b6d65bc90018b1" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106237939" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Server.PayRecordActivity" />
        <activity android:name=".Activity.Server.RecordDetailActivity" />
        <activity android:name=".Activity.Server.SearchNoticeActivity" />
        <activity android:name=".Activity.Server.SignedPersonActivity" />
        <activity android:name=".Activity.AdvertismentActivity" />
        <activity android:name=".Activity.Personal.AddressActivity" />
        <activity android:name=".Activity.Personal.AddAddressActivity" />
        <activity android:name=".Activity.Personal.SignUpActivity" />
        <activity android:name=".Activity.WebViewActivity" />
        <activity android:name=".monitor.MonitorActivity" />
        <activity android:name=".monitor.EventListActivity" />
        <activity android:name=".monitor.MonitorDetailActivity" />
        <activity
            android:name=".grid.WorkSpaceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.event.EventActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.GridLoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.event.AddEventActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".grid.event.EventDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.house.HouseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.house.HouseInfoActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".grid.house.HouseExtraActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.house.HouseFamilyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.house.AddHouseFamilyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.folk.FolkActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.folk.FolkDetailsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.folk.AddFolkActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.Visit.VisitActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.Visit.AddVisitActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.Visit.VisitDetailsActivity"
            android:launchMode="singleTop" />
        <activity android:name=".grid.house.SelectHouseActivity" />
        <activity
            android:name=".grid.check.CheckListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.check.CheckListDetailsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".grid.mission.MissionListActivity" />
        <activity
            android:name=".grid.mission.MissionDetailActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".grid.mission.TransferActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.mission.TrailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.notify.NotifyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.notify.NotifyDetailsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.house.HouseListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".grid.house.HouseQueryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.BikeActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>